body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    max-width: 50%;
    padding: 20px;
  }
  
  
  h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    color: #666666;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #0069d9;
  }
  