body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  max-width: 400px;
  padding: 20px;
}

h2 {
  color: #333333;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  color: #666666;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="email"] {
  border: 2px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}


form input[type="email"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}
