body {
  background-color: #F8F8F8;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px;
  font-size: 16px;
}
input[type="submit"] {
  width: 100%;
  background-color: #120fe6;
  color: #FFFFFF;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #060ad4;
}
